<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="javascripts/stick-navbar.js"></script>

<nav class="navbar navbar-expand-lg navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="../images/suverada.png" class="img-fluid" width="70px" height="70px">suver</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="bb"></div>
        <div class="bb"></div>
        <div class="bb"></div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto" style="width: 80%";>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discord.gg/vfZYUBMN2X">Invite</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/demonlist">Demonlist</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mas informacion
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="bestmoments">Mejores momentos suver</a></li>
              <li><a class="dropdown-item" href="ooc">suver out of context</a></li>
            </ul>
          </li>

          <% if(login){ %>
          
            <li class="nav-item dropdown loginav">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown name" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= name %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/profiles/profile">Profile</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>

          <% } else { %>

            <li class="nav-item loginav" >
              <a class="nav-link" href="/login"><%= name %></a>
            </li>

            <% }  %>

        </ul>
      </div>
    </div>
  </nav>