.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  transition: transform 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

video {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card-body {
  padding: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.btn-secondary {
  margin-top: 10px;
}

body.modal-open {
    overflow: hidden;
  }
  #hidden-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
  }
  #fancybox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
  }
  #fancybox-img {
    max-width: 100%;
    max-height: 100%;
  }

  .fancybox-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    font-size: 16px;
  }
  
  #fancybox-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 10001;
  }

  .title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 2px 2px #ddd;
  }
  
  