.navbar {
    background-color: #9b59b6;
    position: sticky !important;
    top: 0;
    margin: 0;
    z-index: 1000;
}

.navbar .navbar-brand {
    color: #fff;
    font-family: 'Armata', sans-serif;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ecdbff;
}

.navbar .navbar-text {
    color: #ecf0f1;
}

.navbar .navbar-text a {
    color: #ecdbff;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ecdbff;
}

.navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:hover {
    background: #7d309c;
}