.register-form {
    text-align: center;
    position: relative;
    top: 50px;
    background-color: #fff;
    border: 2px solid darkmagenta;
    width: 450px;
    border-radius: 5px;
    margin: auto;
    height: 550px;
}


.register-form h2 {
    text-align: center;
    font-size: 28px;
    padding: 70px 0 10px 0;
    position: relative;
    bottom: 20px;
}

.register-form input[type="password"],
.register-form input[type="text"] {
    width: 80%;
    padding: 15px;
    border: 1px solid #9673a9;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.btn-save {
    width: 80%;
    padding: 10px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #fff;
}

.change1 {
    background-color: #57286a;
}

.change2 {
    background-color: #7d309c;
}

.btn-register:hover,
.btn-register:active {
    color: #fff;
    background-color: #6e2d87;
    border-color: #6e2d87;
}

.btn-register:focus {
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}

.register-form a {
    position: relative;
    top: 8px;
}

.conditions {
    position: relative;
    top: 10px;
    text-align: left;
    margin: 20px;
}

.loginb {
    background-color: #7d309c !important;
    width: 7% !important;
    padding: 10px !important;
    border: 0 !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    font-weight: bold !important;
    font-size: large !important;
    color: #fff !important;
    height: 55px !important;
    position: relative;
    top: 50px;
}

.contenedor {
    text-align: center;
}

h1{
    font-size: 2.6rem;
    line-height: 2.6rem;
  }